<div class="p-4 font-sans">
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-2xl font-bold text-dodger-blue border-b-2 border-dodger-blue pb-2">Daten</h2>
    <button (click)="goBack()" class="text-dodger-blue hover:text-blue-700">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
    </button>
  </div>
  <ul class="list-none space-y-3">
    <li class="flex items-center">
      <span class="w-6 text-center mr-2">📧</span>
      <a href="mailto:mounsandedaniel@gmail.com" class="hover:underline">mounsandedaniel&#64;gmail.com</a>
    </li>
    <li class="flex items-center">
      <span class="w-6 text-center mr-2">📞</span>
      <span>+49 157 587 279 49</span>
    </li>
    <li class="flex items-center">
      <span class="w-6 text-center mr-2">📍</span>
      <span>Gießen, Deutschland</span>
    </li>
    <li class="flex items-center">
      <span class="w-6 text-center mr-2">🚗</span>
      <span>Führerschein B</span>
    </li>
    <li class="flex items-center">
      <span class="w-6 text-center mr-2">🌐</span>
      <a href="https://github.com/Danielou1" target="_blank" class="hover:underline">GitHub</a>
    </li>
    <li class="flex items-center">
      <span class="w-6 text-center mr-2">🌐</span>
      <a href="https://git.thm.de/dashboard" target="_blank" class="hover:underline">THM Git</a>
    </li>
  </ul>
</div>