<div class="p-4 font-sans">
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-2xl font-bold text-dodger-blue border-b-2 border-dodger-blue pb-2">Parcours Académique</h2>
    <button (click)="goBack()" class="text-dodger-blue hover:text-blue-700">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
    </button>
  </div>
  <div class="space-y-4">
    <div>
      <div class="flex justify-between items-baseline">
        <h3 class="font-bold">Technische Hochschule Mittelhessen</h3>
        <span class="text-sm text-gray-600">Okt 2022 - laufend</span>
      </div>
      <p class="text-gray-800">Bachelor Ingenieur-Informatik</p>
    </div>
    <div>
      <div class="flex justify-between items-baseline">
        <h3 class="font-bold">Goethe Institut Kamerun</h3>
        <span class="text-sm text-gray-600">Sept 2019 - Aug 2021</span>
      </div>
      <p class="text-gray-800">Sprachkurs von A1 - C1 (Tesdaf Zertifikat)</p>
    </div>
    <div>
      <div class="flex justify-between items-baseline">
        <h3 class="font-bold">Kindergarten, Grundschule & Gymnasium in Kribi</h3>
        <span class="text-sm text-gray-600">Sept 2003 - Aug 2019</span>
      </div>
      <p class="text-gray-800">Abitur mit Schwerpunkte Mathe, Physik & Informatik</p>
    </div>
  </div>
</div>