<div class="p-4 font-sans">
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-2xl font-bold text-dodger-blue border-b-2 border-dodger-blue pb-2">Expérience</h2>
    <button (click)="goBack()" class="text-dodger-blue hover:text-blue-700">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
    </button>
  </div>
  <div class="space-y-4">
    <div>
      <div class="flex justify-between items-baseline">
        <h3 class="font-bold">Technische Hochschule Mittelhessen (Praktikum, Forschung, Entwicklung)</h3>
        <span class="text-sm text-gray-600">Oktober 2023 - laufend</span>
      </div>
      <p class="text-gray-800">Unterstützung bei der Forschung und Entwicklung eines Microcontroller-basierten Remote-Labors. Mitarbeit an der Implementierung, Test und Optimierung von Embedded-Systemen.</p>
    </div>
    <div>
      <div class="flex justify-between items-baseline">
        <h3 class="font-bold">Bundesamt für Migration und Flüchtlinge(BAMF)</h3>
        <span class="text-sm text-gray-600">2023 - laufend</span>
      </div>
      <p class="text-gray-800">Durchführung von Anhörungen als Dolmetscher, Erstellung schriftlicher Übersetzungen und Anlage von Akten. Unterstützung der Verwaltungsprozesse und Gewährleistung präziser Kommunikation zwischen Behörde und Antragstellern.</p>
    </div>
    <div>
      <div class="flex justify-between items-baseline">
        <h3 class="font-bold">Schunk Group (STS/CNC Bereich)</h3>
        <span class="text-sm text-gray-600">Juli - August 2025</span>
      </div>
      <p class="text-gray-800">Programmierung und Bedienung von Siemens-CNC-Maschinen, Fertigung und Bearbeitung von Bauteilen, Überwachung der Fertigungsprozesse.</p>
    </div>
  </div>
</div>